.friend_list {
    width: 100%;
}
.item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}
.item:not(:last-child) {
    border-bottom: solid 1px grey;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.status {
    position: absolute;
    top: 40%;
    left: 5%;
}