.transaction_history {
        width: 100%;
}
.transaction_head {
    background-color: lightslategray;
}
th,
td {
    height: 50px;
    text-align: center;
    border: 1px solid lightslategray;
}
tr {
    /* background-color: #fff; */
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #faf0e3;
}